
<h3>Genetic Profile</h3>

<h3> Treatment Information (click to toggle) </h3>
<div class="bs-example">
    <div class="panel-group" id="accordion2">
        <div class="panel panel-default"  ng-repeat="key in [1,2,3]">
            <div class="panel-heading" >
                <h3 class="panel-title">
                    <a data-toggle="collapse" id="tierlink[[key]]" href="#tier[[key]]"> Tier [[key]] </a>
                </h3>
            </div>
            <div id="tier[[key]]" class="panel-collapse collapse collapse">
                <div class="panel-body" id="pies">
                </div>
            </div>
        </div>
    </div>
</div>



